html, body {
	height: 100%;
}

body {
	display: flex;
	justify-content: center;
}

img {
	cursor: pointer;
	margin-left: auto;
}

textarea:focus {
	background-color: #C3E6FC;
}

.open {
	margin-right: 5px;
}

.tab-input {
	margin-right: 10px;
}

.modal-box {
	display: flex;
	flex-direction: column;
	position: fixed;
	overflow: auto;
	z-index: 1050;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	border: 4px solid black;
	height: 80%;
	width: 60%;
}

.tab {
	display: flex;
	font-weight: bold;
	border: 2px solid black;
	color: black;
	background-color: orange;
	justify-content: space-between;
}

.tab-controls {
	display: flex;
	flex: 1;
	justify-content: flex-start;
	margin: 5px;
}

.bar-content {
	display: flex;
	flex: 25;
	flex-wrap: nowrap;
}

.tab-bar {
	display: flex;
	border: 2px solid blue;
	flex-direction: column;
	width: 20%;
}

.tab-name {
	cursor: pointer;
	width: 85%;
}

.tab-content {
	display: inline;
	height: auto;
	width: 80%;
}

.fadeIn {
	animation-duration: 1s !important;
}

.fadeOut {
	animation-duration: 1s !important;
}